<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean class="com.imooc.spring.struts2.service.UserServiceImpl" id="userService2"/>
        <bean class="com.imooc.spring.struts2.action.RegAction" id="regAction" scope="prototype">
            <property name="userService" ref="userService2"/>
        </bean>
</beans>